body{
	padding:0;
	margin:0;
	background:#fff;
}
.navBar{
background:#333;
height:60px;
position:relative;
}
.navBar ul{
	position:absolute;
	list-style:circle inside black;
	top:17px;
	right:0;
}
.navBar li{
	float:left;
	margin:0 15px;
	font-size:18px;
}
.navBar li a{
	color:#fff;
}
.navBar a:hover{
	color:#f00;
}
.logo{
	position:absolute;
	height:40px;
	width:194px;
	margin:10px;
}

.div1{
	padding:20px;
	border:2px solid #ccc;
	box-shadow:2px 2px 2px #999;
	margin-bottom:30px;
	background:#fff;
}
.huibian{
	padding:20px;
	background:#dedede;
}
.div1:hover{
	box-shadow:4px 4px 2px #999;
}
.biaotou{
	background:#000;
	color:#FFF;
	font-size:14px;
	font-family:"Microsoft Yahei";
	text-align:left;
}
.huise{
	background:#ccc;
	font-size:14px;
	font-family:"Microsoft Yahei";
}
.lasttitle{
	border-left:3px solid #999;
	font-size:15px;
}
.tijiao{
	background:#00f;
	text-align:center;
	width:100%;
	border:#00f;
	height:30px;
	color:#fff;
}
.huizi{
	color:#999;
	font-size:10px;
}
.div2{
	font-size:13px;
	text-align:center;
}
.footer{
	background:#003;
	height:70px;
	text-align:center;
	line-height:70px;
	color:#fff;
}