body{
	padding:0;
	margin:0;
	background:#fff;
	font-size:12px;
	font-family:"Microsoft Yahei";
}
.header{
	height: 58px;
	background:blue;
	border:2px solid red;
	position:relative;
}
.logo{
	margin:0;
	padding:0;
	height:40px;
	width:194px;
	position:absolute;
	top:10px;
	left:20px;
	text-indent:-1000px;
	border:2px solid green;
}